.logo {
    display: inline;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 33%;
}

.search {
    display: inline;
    margin-top: 15px;
    margin-right: 10px;
}

.index {
    display: inline;
    margin: 10px;
}

.cart {
    display: inline;
    margin: 15px 10px;
    
}

.link {
    color: black;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
}

.Link {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
}

.link:hover{
    background-color: green;
    color: white;
}

.Link:hover{
    background-color: yellowgreen;
}

nav {
    width: 1180px;
    height: 300px;
    margin: 20px 3%;
    overflow: hidden;
}

.control {
    position: absolute;
    width: 1180px;
    height: 300px;
    display: none;
}

.control.active {
    display: block;
}

h3 {
    color: white;
    background-color: green;
    margin: 10px 84% 20px 3%; 
    padding: 10px 40px;
    border-radius: 5px;
}

.goods {
    margin: 5px 3%;
    border-radius: 5%;
    width: 27%;
    height: 27%;
}